li
  .sender
    a.messageAvatar(href='#')
      img(src=message.sender.avatar, alt=message.sender.displayName, data-placement="below")
  .messageWrapper
    .message_header
      .name #{message.sender.displayName}
      .date(title=messageDate.format('{Dow}, {yyyy}.{MM}.{dd} - {HH}:{mm}:{ss}')) #{messageDate.format('{HH}:{mm}:{ss}')}
    include bareMessage
